*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

body{
  background-color:rgb(217, 146, 160);
}

main{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  margin: 100px auto 60px auto;
  width: 80%;
  max-width: 1000px;
  height: 100%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.304);
  border-radius: 20px;
}

h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(176, 48, 82);
  padding-top: 20px;
  text-align: center;
  text-shadow: 10px 10px 20px rgba(69, 69, 69, 0.3);
  font-size: 35px;
  font-weight:500;
}

h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(201, 90, 120);
  text-align: center;
  text-shadow: 10px 10px 20px rgba(69, 69, 69, 0.3);
  font-size: 15px;
  font-weight:700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.Formulario{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.Formulario button{
  height: 50px;
  border: 5px;
  width: 100px;
  background-color:rgb(176, 48, 82);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  box-shadow: 10px 10px 20px rgba(174, 174, 174, 0.3);
  font-size: 20px;
  border: none;
  font-weight: 300;
}

.Formulario input{
  background-color:rgb(220, 177, 186);
  box-shadow: 10px 10px 20px rgba(174, 174, 174, 0.3);
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 1px;
  margin-right: 5px;
}

.FormCantidad{
  width: 110px;
}

.FormProducto{
  width: 190px;
}

.Item{
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:aliceblue;
  font-size: 22px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(221, 122, 142);
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 10px 10px 20px rgba(174, 174, 174, 0.3);
  text-shadow: 10px 10px 20px rgba(69, 68, 68, 0.3);
  text-transform: uppercase;
}

.FormEditar{
  display: flex;

}

.FormEditar input{
  background-color:rgb(220, 177, 186);
  box-shadow: 10px 10px 20px rgba(174, 174, 174, 0.3);
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 1px;
  margin-right: 5px;
  color: rgb(109, 109, 109);
}

.FormEditar button{
  height: 30px;
  border: 5px;
  width: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 10px 10px 20px rgba(174, 174, 174, 0.3);
  font-size: 20px;
  border: none;
  font-weight: 300;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  
}

.Item button{
  height: 30px;
  border: none;
  width: 30px;
  color: rgb(176, 48, 82);
  border-radius: 50px;
}